# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python build
build/
dist/
*.egg-info/

# Temporary files
*.tmp
*.log

.virtual_documents/
**/.virtual_documents/